AWS_ECR_ACCOUNT_ID="" # Aws account ID (numeric) of the account you use for ECR
AWS_ECR_PROFILE="" # Profile name as listed in ~/.aws/config
AWS_SSH_BASTION_SECURITY_GROUP="" # the name of the security group you use for your ssh bastion
